<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>
            signup works!
        </h1>
        <form name="minlengthForm" #f="ngForm" (ngSubmit)="signUp(f)">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" required minlength=2 type="name" ngModel #name="ngModel" name="name" id="name">
                <div *ngIf="name.dirty && name.touched && name.invalid">
                    <!-- {{firstName.errors | json}} -->
                    <div class="alert-danger" *ngIf="name.errors.required" >
                      The field name is required!!!
                    </div>
                    <div class="alert-danger" *ngIf="name.errors.minlength" >
                        Tha value must be {{name.errors.minlength.requiredLength}} chars length!!!
                      </div>
                  </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" required email type="email" ngModel #email="ngModel" name="email" id="email">
                <div *ngIf="email.dirty && email.touched && email.invalid">
                    <!-- {{firstName.errors | json}} -->
                    <div class="alert-danger" *ngIf="email.errors.required" >
                      The field email is required!!!
                    </div>
                    <div class="alert-danger" *ngIf="email.errors.email" >
                      Tha value must be a valid email!!!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" required minlength=6 ngModel type="password" #password="ngModel" name="password" id="password">
                <div *ngIf="password.dirty && password.touched && password.invalid">
                    <!-- {{firstName.errors | json}} -->
                    <div class="alert-danger" *ngIf="password.errors.required" >
                      The field password is required!!!
                    </div>
                    <div class="alert-danger" *ngIf="password.errors.minlength" >
                      Tha value must be {{password.errors.minlength.requiredLength}} chars length!!!
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
               <button [disabled]="!f.valid" class="btn btn-primary">Sign up</button>
            </div>
        </form>
    </div>
</div>
